.button-session {
  margin: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  width: 10rem;
  transition: background-color 225ms ease;
  border: 1px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
}
.button-session:hover {
  background-color: white;
  transition: background-color 0s ease;
  color: black;
}

.buttons {
}
