.played-piano {
  background-color: lightblue;
}

.username-progress {
  text-margin: center;
}
.calendar-dailylog {
  display: flex;
}

.total-played {
  margin-bottom: 5rem;
  font-weight: 300;
}

.container-card {
  margin-left: 5rem;
}
