.app-header {
  text-align: center;
  margin: 0;
}
.main-login-page {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.login-container {
  border: 1px rgba(99, 89, 89, 0.15) solid;
  margin: 10rem 25rem 10rem 25rem;
  padding: 2rem;
  display: flex;
  flex-flow: column;
}

.app-name {
  text-align: center;
}
.header-ul {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  width: 100%;
  text-align: center;
  padding: 0;
}
.navbar {
  margin: 0rem 10rem 0rem;
}
.header-ul li {
  margin: 1.5rem;
  padding: 0.7rem;
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 23px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.header-ul li a:visited {
  color: white;
}
