.main-login-page {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.login-container {
  border: 1px rgba(99, 89, 89, 0.15) solid;
  margin: 10rem 25rem 10rem 25rem;
  padding: 2rem;
  display: flex;
  flex-flow: column;
}

.app-name {
  text-align: center;
}
